code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: Arial, sans-serif;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
    visibility: visible;
  }
  .screen {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (min-width: 800px) {
  .screen {
    display: block;
    visibility: visible;
  }
  .mobile {
    display: none;
    visibility: hidden;
  }
}

.text-center {
  text-align: center;
}
html {
  background-color: rgb(15, 26, 41);
}
.app-style {
  background-color: rgb(15, 26, 41);
}
.second-background {
  background-color: rgb(3, 57, 75);
}

.third-background {
  background-color: rgb(15, 26, 41);
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}
.text-black {
  color: black;
}
.searchbar {
  background-color: rgb(3, 57, 75);
  border-radius: 20px;
  color: white;
}

.border-box {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.picture-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
